#hero-section {
  height: 100vh;
  max-height: 768px;
  background-image: url("images/illustrasi-hero-section.png");
}

#about-section {
  height: 100vh;
}

.title {
  margin-top: -430px;
  font-weight: 780;
  font-size: 56px;
  color: #2a2250;
}

.secondary-title {
  font-weight: 780;
  font-size: 32px;
  color: #2a2250;
}

.title::after {
  content: "";
  display: block;
  height: 5px;
  width: 200px;
  background-color: red;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.secondary-title::after {
  content: "";
  display: block;
  height: 5px;
  width: 155px;
  background-color: red;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn {
  border-radius: 2rem;
  width: 124.83px;
  height: 35.19px;
  background-color: #fc544b;
  color: white;
  font-weight: 500;
  font-size: 12.8px;
}

.nav-item {
  font-size: 12.8px;
  color: #80849c;
}

.konten {
  width: 710;
  height: 175;
}